ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		a {
			padding: 15px;
			color: $gray;
			letter-spacing:0.5px;
			&:hover{
				color:$blue;
			}
		}
	}
		li.current_page_item,
		li.current-menu-item{
			a{color:$blue;}
		}
}

#nav-below{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 4rem 0;
}


