@media only screen and (min-width:320px) and (max-width:480px){
	body{
		font-size:1.2rem;
	}
	.menu a, 
	p{
		font-size:1.6rem;
	}
	ul.menu li a{
		padding:10px;
	}
	.site-branding h1{
		font-size:3rem;
	}
	.home-header,
	.home-text{
		width:90%;
	}
	.skills,
	.contact{
		.content{
			width:90%;
		}	
	}
	.home-header{
		margin-left:5%;
		padding-bottom:20%;
	}
	.home-text{
		font-size:2rem;
	}
	.social{
		display:none;
	}
	.work{
		width:100%;
	}
	.work-overlay{
		top:60%;
		opacity:0.9;
	}
	.skill{
		width:25%;
	}
	.icon{
		font-size:5rem;
	}
	.contact-details, .skill-icons {
	    width: 90%;
	    margin-left: 5%;
	}	
	.contact-details{
		padding:0;
	}
	.footer-menu {
		flex-direction:column;
	}
	.copyright{
		order:2;
	}
	.menu-social-links-container{
		margin-top:2rem;
		font-size:2rem;
	}
	.about-header{
		height:calc(50vh - 70px);
	}
	.about-headshot,
	.about-content,
	.post-content{
		width:100%;
	}
	.about-content{
		padding-top:2rem;
	}
	.process-step{
		width:100%;
	}
	#nav-below{
		flex-direction:column;
		.nav-next{
			order:1;
		}
	}	
	.form-inputs{
		flex-direction:column;
		.name,
		.email{
			width:100%;
		}
	}
	.contact-form fieldset .message{
		padding-top:4px;
	}
	.contact-form{
		width:80%;
	}
}

@media only screen and (min-width:481px) and (max-width:667px){
	.work{
		width:calc(50% - 2%);
	}
	.work-overlay{
		top:55%;
		opacity:0.9;
	}
	.post-content{
		width:100%;
	}
	.social{
		display:none;
	}	
	.skill{
		width:20%;
	}
	.icon{
		font-size:5rem;
	}	
	.about-headshot,
	.about-content,
	.post-content{
		width:100%;
	}
	.about-content{
		padding-top:2rem;
	}
	.process-step{
		width:100%;
	}
	.form-inputs{
		flex-direction:column;
		.name,
		.email{
			width:100%;
		}
	}
	.contact-form fieldset .message{
		padding-top:4px;
	}
	.contact-form{
		width:80%;
	}	
}
@media only screen and (min-width:668px) and (max-width:768px){
	.work{
		width:calc(50% - 2%);
	}
	.work-overlay{
		top:60%;
		opacity:0.9;
	}
	.post-content{
		width:100%;
	}	
	.process-num{
		width:15%;
	}
	.process-info{
		width:85%;
	}
}
@media only screen and (min-width:769px) and (max-width:980px){
	.work{
		width:calc(33.3% - 2%);
	}
	.work-overlay{
		top:65%;
	}
	.process-num{
		width:15%;
	}
	.process-info{
		width:85%;
	}	
}




