$green: rgb(91,191,156);
$blue: #58c6c2; 
// rgb(123,187,197);
$deepblue: #172e5d;
$pink: #DE7A74;
$lightpink: #fdf0e8;
$yellow: #FBDF75;
$white: #F5F5F5;
$gray: #5E5D5D;
$lightgray: #f1f1f1;
$black:#2f2f2f;